<div id="content">
	<%= render :partial => "shared/menu"%>
	<div id="top">
		<% if @sale %>
		<div class="p-text"><%= @sale.title %></div>
		<div class="popular left">
			<div class="p-pic"><a href="<%= @sale.link unless @sale.link.blank? %>"><img src="<%= @sale.image.url %>" width="563" height="425" alt=""></a></div>
		</div>
		<% end %>
		<div>
			<div class="twitter-bird"><img src="/i/twitter-logo.png"></div>
			<div class="news left">
				<% for message in @messages %>
					<p class="date"><%= Date.parse(message.created_at).strftime("%d.%m.%y")%></p>
					<p class="body"><%= message.text %></p>
				<% end %>
			</div>
		</div>
		<br class="clearfix"/>
	</div>
	
	<div class="goods">
		<h2>Новинки</h2>
		<ul>

			<%= render :partial => "items/item", :collection => @items %>
			

			<br class="clearfix"/>				
		</ul>
	</div>
</div>