<% content_for :head do -%>
	<script 
	  src="http://rails.in.ua:8062/javascripts/twitter-1.13.1.js"
	  type="text/javascript">
	</script>
	
	<script>
		$(function()
		{
			
			getTwitters('tweet', { 
			  id: 'shuttle_ua', 
			  count: 5, 
			  enableLinks: true, 
			  ignoreReplies: true, 
			  clearContents: true,
			  template: '<p class="date">%time%</p><p class="body">%text% <a href="http://twitter.com/%user_screen_name%/statuses/%id%/">&rarr;</a></p>'
			});	
	
		});
		</script>

<% end -%>

<div id="content">
	<%= render :partial => "shared/menu"%>
	<div id="top">
		<% if @sale %>
		<div class="p-text"><%= @sale.title %></div>
		<div class="popular left">
			<div class="p-pic"><a href="<%= @sale.link unless @sale.link.blank? %>"><img src="<%= @sale.image.url %>" width="563" height="425" alt=""></a></div>
		</div>
		<% end %>
		<div>
			<div class="twitter-bird"><img src="/i/twitter-logo.png"></div>
			<div class="news left" id="tweet">
				<%# for message in @messages %>
					<p class="date"><%#= Date.parse(message.created_at).strftime("%d.%m.%y")%></p>
					<p class="body"><%#= message.text %></p>
				<%# end %>
			</div>
		</div>
		<br class="clearfix"/>
	</div>
	
	<div class="goods">
		<h2>Новинки</h2>
		<ul>

			<%= render :partial => "items/item", :collection => @items %>
			

			<br class="clearfix"/>				
		</ul>
	</div>
</div>