
  <div class="group">
    <%= f.label :shipping_type, t("activerecord.attributes.order.shipping_type", :default => "Shipping type"), :class => :label %>
    <%= f.select :shipping_type, Order::SHIPPING.enum_for(:each_with_index).collect {|s, idx| [s, idx]}, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :payment_type, t("activerecord.attributes.order.payment_type", :default => "Payment type"), :class => :label %>
    <%= f.select :payment_type, Order::PAYMENT.enum_for(:each_with_index).collect {|s, idx| [s, idx]},:class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :state, "Статус", :class => :label %>
    <%= f.select :state, Order::STATES.keys.collect {|k|  [Order::STATES[k], k] }, :selected => @order.state.to_sym ,:class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>


  <div class="group">
    <%= f.label :user_name, t("activerecord.attributes.order.user_name", :default => "User name"), :class => :label %>
    <%= f.text_field :user_name, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :email, t("activerecord.attributes.order.email", :default => "Email"), :class => :label %>
    <%= f.text_field :email, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :phone, t("activerecord.attributes.order.phone", :default => "Phone"), :class => :label %>
    <%= f.text_field :phone, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :city, t("activerecord.attributes.order.city", :default => "City"), :class => :label %>
    <%= f.text_field :city, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :address, t("activerecord.attributes.order.address", :default => "Address"), :class => :label %>
    <%= f.text_area :address, :class => 'text_area' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :comments, t("activerecord.attributes.order.comments", :default => "Comments"), :class => :label %>
    <%= f.text_area :comments, :class => 'text_area' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", admin_orders_path, :class => "button" %> 
</div>