<div id="filters">
	<!-- <a href="<%= remove_query "gender" %>" class="active-filter">все</a>
	<a href="<%= make_query "gender", "man" %>" class="man">Парни</a>
	<a href="<%= make_query "gender", "woman" %>" class="woman">Девушки</a> -->

	<%= make_queries "gender", ["man","woman"], ["Парни", "Девушки"], :classes => ["man","woman"] %>

	
	<i class="f-separator">&nbsp;</i>

	<!-- <a href="<%= remove_query "size" %>" class="active-filter">все</a>
	<% for size in Item::SIZE %>
		<a href="<%= make_query "size", size %>"><%= size %></a>
	<% end %> -->

	<%= make_queries "size", Item::SIZE, Item::SIZE %>


	
	<i class="f-separator">&nbsp;</i>	
	
	<!-- <a href="<%= remove_query "price_range" %>" class="active-filter">все</a>
	<a href="<%= make_query "price_range", "<200" %>">< 200грн</a>
	<a href="<%= make_query "price_range", "200-300" %>">200-300грн</a>
	<a href="<%= make_query "price_range", "300>" %>">300грн ></a> -->

	<%= make_queries "price_range", %w[<200 200-300 300>], ["< 200", "200-300","300 > "], :format => "%sгрн" %>

	
	<i class="f-separator">&nbsp;</i>

	

	<div class="colors">
		<%= make_queries "color", Item::COLORS, Item::COLORS, :format => %|<img src="/i/color_%s.png" width="15" height="15" border="0" alt="">| %>

<!--
		<a href="<%= remove_query "colors" %>" class="active-filter">все</a>
		<% for color in Item::COLORS %>
			<a href="<%= make_query "colors", color %>"><img src="/i/color_<%= color %>.png" width="15" height="15" border="0" alt="color <%= color %>"></a>			
		<% end %> -->
	</div>
	
	<i class="f-separator">&nbsp;</i>
	
	<%= select_tag 'brands', options_for_select([["все бренды", remove_query("brand")]] + Brand.published.collect {|u| [u.title, make_query("brand", u.permalink)]}, :selected => make_query("brand", params[:brand])) %>
</div>