<div id="filters">
	<%= make_queries "gender", ["man","woman"], ["Парни", "Девушки"] %>

	<i class="f-separator">&nbsp;</i>

	<%= make_queries "size", Item::SIZE, Item::SIZE %>


	
	<i class="f-separator">&nbsp;</i>	

	<%= make_queries "price_range", %w[<200 200-300 300>], ["< 200 грн", "200-300 грн","300 грн >"] %>

	
	<i class="f-separator">&nbsp;</i>

	

	<div class="colors">
		<%= make_queries "colors", Item::COLORS, Item::COLORS, :format => %|<img src="/i/color_%s.png" width="15" height="15" border="0" alt="">| %>
	</div>
	
	<i class="f-separator">&nbsp;</i>
	
	<%= select_tag 'brands', options_for_select([["все бренды", remove_query("brand")]] + Brand.published.collect {|u| [u.title, make_query("brand", u.permalink)]}, :selected => make_query("brand", params[:brand])) %>
</div>