<% content_for :head do %>

	<script>
		
		function int_inc(selector, amount)
		{
			var old_value = parseInt($(selector).text());
			$(selector).text( old_value + amount);
		}
	
	
	
		$(function()
		{

			$("#shipping_type_2").hide();
			$("#order_shipping_type_1").attr("checked", true); 


			$("input[name='order[shipping_type]']").click(function(e)
			{
				// alert($(e.target).attr('value'));
					var value = $(e.target).attr('value');
					if(parseInt(value) == 0)
					{
						$("#shipping_title").text("Самовывоз");
					}
					else
					{
						$("#shipping_title").text("Доставка курьером");						
					}
					
				
			});
			
			
			$("#order_city").change(function()
			{
				
				var value = $(this).attr('value');
				
				if(parseInt(value) == 0)
				{
					// $(".order-options")[0].insert
					$("<input>").attr('name', 'order[city]').attr('size', '47').insertAfter(this);
					// $("#delivery_price").hide();
					$(this).remove();
	
					if (parseInt($("#delivery_price").text()) == 0)
					{
						int_inc("#summ_price", 15);
					}	
					
					$("#shipping_type_0").hide();
					$("#shipping_type_1").hide();
					$("#shipping_type_2").show();
					$("#order_shipping_type_2").attr("checked", true); 
					$("#delivery_price").text("15");
					

															
				}
				else if(value != "Киев")
				{

					if (parseInt($("#delivery_price").text()) == 0)
					{
						int_inc("#summ_price", 15);
					}

					
					$("#shipping_type_0").hide();
					$("#shipping_type_1").hide();
					$("#shipping_type_2").show();
					$("#order_shipping_type_2").attr("checked", true); 
					$("#delivery_price").text("15");				
					
				
					
				}
				else if(value == "Киев")
				{
					
					if (parseInt($("#delivery_price").text()) > 0)
					{
						int_inc("#summ_price", -15);
					}					

					$("#shipping_type_0").show();
					$("#shipping_type_1").show();
					$("#shipping_type_2").hide();					
					$("#order_shipping_type_1").attr("checked", true); 
					$("#delivery_price").text("0");							

					
				}
				
			});
			

		});
		
	</script>
	
<% end %>	
<div id="content">
	<div class="back-nav"><a href="javascript:history.go(-1);"><span>&larr;</span> обратно в магазин</a></div>

	<% if @order.items.count > 0 %>
		<div class="cart-items">
			<h2>Выбранные товары</h2>
			<table>
				<% for item in @order.items %>
				<tr>
					<td><img src="<%= item.item.image.url(:small) %>" width="" height="" border="0" alt=""></td>
					<td><p><a href="<%= item.item.link %>"><%= item.item.title %></a> <p class="size">размер <%= Item::SIZE[item.item_availability.size]%></p></td>
					<td><%= price_print item.item.price %>грн</td>
					<td><%= link_to 'удалить', order_item_path(item), :method => :delete, :confirm => "Вы уверены?", :class => "delete-button" %></td>
				</tr>
				<% end %>
				<tr>
					<td><img src="i/delivery-icon.jpg" width="72" height="72" border="0" alt=""></td>
					<td id="shipping_title">Доставка курьером</td>
					<td><span id="delivery_price">0</span>грн</td>
					<td>&nbsp;</td>
				</tr>
			</table>
			<div>Всего к оплате <span><span id="summ_price"><%= price_print @order.items.collect {|i| i.item.price}.sum %></span>грн</span> Скидочный купон <input type="text" id="discount"> <span class="note">6 значное число</span></div>
		</div>
	
		<% form_for @order, :url => orders_path do |f| %>
			<div class="order-options">
				<h2>Оформление заказа</h2>
				<div class="border">
					<h3>Контактная информация</h3>
					<%= f.label :user_name, 'Имя, фамилия' %><%= f.text_field :user_name %>
					<%= f.label :user_name, 'Электронаая почта' %><%= f.text_field :email %>
					<%= f.label :user_name, 'Мобильный телефон' %><%= f.text_field :phone %>
					<%= f.label :city, 'Город' %>
					<%= f.select :city, Order::CITIES.collect {|c| [c,c]} << ["другой", 0] %>
					<%= f.label :address, 'Адрес' %><%= f.text_area :address, :rows => "3" %>
					<p class="note">поля выше обязательны для заполнения</p>
				</div>
				<div class="border">
					<h3>Доставка</h3>
					<div id="shipping_type_0">
						<div><%= f.radio_button :shipping_type, 0 %></div><div class="left"><label>Самовывоз<span>Магазин на м. Крещатик</span></label></div><br class="clearfix" />			
					</div>
					<div id="shipping_type_1">
						<div><%= f.radio_button :shipping_type, 1, :html => {:checked => true} %></div><div class="left"><label>Курьером по Киеву<span>бесплатно</span></label></div><br class="clearfix" />
					</div>
					<div id="shipping_type_2">
						<div><%= f.radio_button :shipping_type, 2 %></div><div class="left"><label>Курьером по Украине<span>15грн +</span></label></div><br class="clearfix" />
					</div>
				</div>
				<div>
					<h3>Оплата</h3>
					<div><%= f.radio_button :payment_type, 0 %></div><div class="left"><label>Наличными</label></div><br class="clearfix" />
					<div><%= f.radio_button :payment_type, 1 %></div><div class="left"><img src="i/webmoney_icon.png" width="" height="" alt="Webmoney"/><label>Денежный перевод Webmoney</label></div><br class="clearfix" />
					<div><%= f.radio_button :payment_type, 2 %></div><div class="left"><img src="i/privat-money_icon.png" width="" height="" alt="PrivatMoney"/><label>Денежный перевод PrivatMoney</label></div><br class="clearfix" />
					<div><%= f.radio_button :payment_type, 3 %></div><div class="left"><img src="i/liq-pay_icon.png" width="" height="" alt="LiqPay"/> <img src="i/visa-mastercard_icon.png" width="" height="" alt="LiqPay(Visa\Mastercard)"/><label>Денежный перевод LiqPay(Visa\Mastercard)</label></div><br class="clearfix" />
				</div>
				<br class="clearfix" />				
			</div>
	
			<div class="order-submit">
				<div><label>Примечание к заказу</label><%= f.text_area :comments, :rows => "3"  %></div>
				<div><input type="submit" id="confirm"></div>
				<br class="clearfix"/>
			</div>
		<% end %>
	<% else %>
		
		В вашей корзине пусто
	
	<% end %>

</div>