<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_item_photos_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_item_photo_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_item_photo_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.admin_item_photo.item_id", :default => t("activerecord.labels.item_id", :default => "Item")) %>:</b>
          <%= @item_photo.item_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_item_photo.image_file_name", :default => t("activerecord.labels.image_file_name", :default => "Image file name")) %>:</b>
          <%= @item_photo.image_file_name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_item_photo.image_content_type", :default => t("activerecord.labels.image_content_type", :default => "Image content type")) %>:</b>
          <%= @item_photo.image_content_type %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_item_photo.image_file_size", :default => t("activerecord.labels.image_file_size", :default => "Image file size")) %>:</b>
          <%= @item_photo.image_file_size %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_item_photo.position", :default => t("activerecord.labels.position", :default => "Position")) %>:</b>
          <%= @item_photo.position %>
        </p>
      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_admin_item_photo_path(@item, @item_photo), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", admin_item_photo_path(@item, @item_photo), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>