<% content_for :head do %>

	<script>
		$(function()
		{

			$("#similar-items li:last-child").addClass("no-border");
			
			
			$(".small-photos a").click(function(e)
			{
				$(".small-photos li").removeClass("current");
				
				
				$(e.target).parent().parent().addClass("current");
				
				$("#large-photo").attr('src', $(e.target).parent().attr('href'));
				
				return false;
			});

		});
	</script>

<% end %>

<div id="content">
	<%= render :partial => "shared/menu"%>
	
	<div class="back-nav"><a href="<%= category_path(@item.category.permalink) %>"><span>&larr;</span> вернуться к списку</a></div>
	<div id="item">
		<div class="item-images">
			<div class="large-photo">
				<img id="large-photo" src="<%= @item.image.url(:large) %>"  alt="<%= @item.title %>">
			</div>
			<ul class="small-photos">
				<li class="current"><a href="<%= @item.image.url(:large) %>"><img src="<%= @item.image.url(:small) %>" width="90" height="113" alt="<%= @item.title %>" border="1"></a></li>
				<% for photo in @item.photos %>
					<li><a href="<%= photo.image.url(:large) %>"><img src="<%= photo.image.url(:small) %>" width="90" height="113" border="1" alt="<%= @item.title %>"></a></li>
				<% end %>

			</ul>
		</div>
		<div class="item-info">
			<h1><%= @item.title %></h1>
			<p class="description">
				<%= @item.body %>
			</p>
			<div class="brand">
				<a href="<%= brand_path(@item.brand) %>"><img src="<%= @item.brand.image.url %>" border="0"></a>
			</div>
			<div class="price">
				<span class="new-price">
					<%= price_print @item.price %>грн
				</span>
				<% unless @item.price_old.zero? %>
				<span class="old-price">
					<%= @item.price_old %>грн
				</span>
				<% end %>
			</div>
			
			<% form_for :order_item, :url => order_items_path do |f| %>
				<%= f.hidden_field :item_id, :value => @item.id %>
				<div class="size">
					<%= f.select :item_availability_id, options_for_select(@item.availabilities.in_stock.collect {|a| [Item::SIZE[a.size], a.id] })  %>
					<span><a href="#">таблица размеров</a></span>
				</div>
				<div class="cart-button">
					<input type="submit" value="Купить">
				</div>
			<% end %>
			<div class="share">
				<a href="http://twitter.com/?status=<%= @item.title %>"><img src="/i/retweet.png" width="50" height="14" border="0" alt=""></a>
				<a name="fb_share" type="icon_link" href="http://www.facebook.com/sharer.php"></a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
			</div>
		</div>
		<br class="clearfix"/>
	</div>
	<div id="similar-items">
		<div class="header">Смотрите также</div>
			<ul>
				<%= render :partial => "item_small", :collection => Item.published.gender(@item.gender).not_self(@item).random.limit(3), :as => :item %>
			</ul>
		</div>
</div>