<% content_for :head do %>

	<script>

	$(function(){
		set_no_border_for_last_list_in_similar_items();
	});
	
	</script>

<% end %>

<div id="content">
	<%= render :partial => "shared/menu"%>
	
	<div class="back-nav"><a href="<% %>"><span>&larr;</span> вернуться к списку</a></div>
	<div id="item">
		<div class="item-images">
			<div class="large-photo">
				<img src="<%= @item.image.url %>" width="295" height="510" alt="<%= @item.title %>">
			</div>
			<ul class="small-photos">
				<li class="current"><img src="/images/tshirt_1_s.jpg" width="90" height="90" alt="<%= @item.title %>"></li>
				<li><img src="/images/tshirt_1_s.jpg" width="90" height="90" alt="<%= @item.title %>"></li>
				<li><img src="/images/tshirt_1_s.jpg" width="90" height="90" alt="<%= @item.title %>"></li>
			</ul>
		</div>
		<div class="item-info">
			<h1><%= @item.title %></h1>
			<p class="description">
				<%= @item.body %>
			</p>
			<div class="brand">
				<a href="<%= brand_path(@item.brand) %>"><img src="<%= @item.brand.image.url %>" border="0"></a>
			</div>
			<div class="price">
				<span class="new-price">
					<%= price_print @item.price %>грн
				</span>
				<% unless @item.price_old.zero? %>
				<span class="old-price">
					<%= @item.price_old %>грн
				</span>
				<% end %>
			</div>
			
			<% form_for :order_item, :url => order_items_path do |f| %>
				<%= f.hidden_field :item_id, :value => @item.id %>
				<div class="size">
					<%= f.select :item_availability_id, options_for_select(@item.availabilities.in_stock.collect {|a| [Item::SIZE[a.size], a.id] })  %>
					<span><a href="#">таблица размеров</a></span>
				</div>
				<div class="cart-button">
					<input type="submit" value="Купить">
				</div>
			<% end %>
			<div class="share">
				<a href="#"><img src="/i/retweet.png" width="50" height="14" border="0" alt=""></a>
				<a href="#"><img src="/i/facebook-share.png" width="44" height="14" border="0" alt=""></a>
			</div>
		</div>
		<br class="clearfix"/>
	</div>
	<div id="similar-items">
		<div class="header">Смотрите также</div>
			<ul>
				<%= render :partial => "item_small", :collection => Item.published.gender(@item.gender).not_self(@item).random.limit(3), :as => :item %>
			</ul>
		</div>
</div>