<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Shuttle.in.ua — интернет-магазин футболок</title>
		<meta name="keywords" content=" " />
		<meta name="description" content="" />
		
		<link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
		<link rel="shortcut icon" href="/favicon.ico" />	
		<%= javascript_include_tag "jquery/jquery-1.4.1.min.js" %>
		<%= javascript_include_tag "application.js" %>
		<%= yield :head %>
	</head>
	<body>
		<div id="header">
			<div id="logo"><a href="/"><img src="/i/logo.png" width="231" height="89" border="0" alt="на главную | Shuttle.in.ua интернет магазин футболок"></a></div>
			<div id="secondary-menu">
				<ul>
					<% for page in @pages %>
						<li><a href="<%= page.link %>"><%= page.title %></a></li>
					<% end %>			
				</ul>
			</div>
			<div class="right-part">
				<div id="phone">044 233 53 35</div>
				<%= render :partial => "shared/shopcart" %>
			</div>
			<br class="clearfix"/>
			<div class="clouds">			</div>
		</div>
		
		<%= yield %>
		
		<div id="footer">
			<div id="social-networks">
				<a href="http://www.lookatme.ru/users/shuttle"><img src="/i/sn_lam.gif" border="0" alt="LookAtMe"></a>
				<a href="http://www.facebook.com/pages/Shuttle/137876564849"><img src="/i/sn_facebook.png" border="0" alt="Facebook"></a>
				<a href="http://vkontakte.ru/club9248658"><img src="/i/sn_vkontakte.png" border="0" alt="Vkontakte"></a>
				<a href="http://twitter.com/shuttle_ua"><img src="/i/sn_twitter.png" border="0" alt="Twitter"></a>
				<a href="http://vimeo.com/shuttle"><img src="/i/sn_vimeo.png" border="0" alt="Vimeo"></a>
			</div>
			<div id="copyright">Shuttle.in.ua &copy; 2010</div>
			<br class="clearfix"/>
		</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3829999-5");
pageTracker._trackPageview();
} catch(err) {}</script>		
	</body>
</html>